.centradoTitulo {
    text-align: center;
    font-family: 'Courier New';
    text-decoration: underline;

}
.centradoTexto {
    text-align: center;
    border: 3px solid rgb(26, 76, 141, 0.589);
    border-radius: 10px;
    margin-right: 270px;
    margin-left: 270px;
    font-size: 20px;
    background-color: rgba(71, 148, 248, 0.5);
}

body {
    background-color: rgb(176, 224, 230);
}




.item {
    width:375px;
    text-align:center;
    display:block;
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/214/703/non_2x/valentine-s-day-cute-elements-set-funny-cartoon-blue-hearts-repeated-hand-drawn-on-white-background-childish-print-for-cards-stickers-apparel-and-party-invitation-illustration-vector.jpg) ;
    background-size: 75%;
    border: 6px solid;
    border-color:rgba(39, 112, 207, 0.589) ;
    border-radius: 15px;
    margin-left: 330px;
    margin-bottom: 1px;
    float:left;
  }
.bgTexto {
    background-color: rgba(255, 255, 255, 0.89) ;
    color: rgb(0, 0, 0);
}


a {
    font-size: 20px;
    text-decoration: none;
    font-style: italic;
    padding: auto;

}

a:hover {
border-bottom: 3px solid;
    
}

ul {
    font-size: 20px;
    background-color: rgba(71, 148, 248, 0.5);
    border: 3px solid;
    border-radius: 10px;
    border-color: rgba(26, 76, 141, 0.589);
    margin-left: 700px;
    margin-right: 700px;

}

