.centradoTitulo {
  text-align: center;
  font-family: 'Courier New';
  text-decoration: underline;
  margin-right: 300px;
  margin-left: 300px;
  border: 5px solid rgb(26, 76, 141, 0.589);
  border-radius: 10px;
}

.centradoTexto {

  text-align: center;
  border: 3px solid rgb(26, 76, 141, 0.589);
  border-radius: 10px;
  margin-right: 270px;
  margin-left: 270px;
  font-size: 20px;
  background-color: rgba(71, 148, 248, 0.5);
}

body {
    background-color: powderblue;
  }
  p {
    border: 3px solid rgb(221, 74, 16);
  }
  h1 {
    border: 3px solid rgb(221, 74, 16);
  }
  h1 {
    font-size: 40px;
    color: #000;
    font-family: 'Courier New';
    }
    p {
        font-size: 20px;
        color: #000;
        font-family: 'Times New Roman';
        }
        tr {
            font-size: 15px;
            color: #000;
            font-family: 'Trebuchet MS';
            }
            td {
                font-size: 15px;
                color: #000;
                font-family: 'Trebuchet MS';
                }
                tr {
                    background-color: rgba(0, 255, 213, 0.493);
                }
    
